<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Game history</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <h1>Games history</h1>
            <p>
                This is place holder for the games history page
            </p>
            <a href="./index.html">return to home page</a>
        </div>
        
        <img src="..\Images\Snooker_Balls.jpg" alt="image of snooker snooker balls">
    </body>
</html>