<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BreakPoint</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap" rel="stylesheet">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous"> -->
    </head>
    <body>
        <h1>Welcome to Snooker Score Tracker</h1>
        <p>
            This website helps you track snooker games with friends. 
            Start a new game, keep track of scores, 
            and view game history and player statistics!
        </p>
        <div class="grid-container">
            <div class="grid-item">
              <img src="../Images/create-player.png" alt="add new player" class="icon">
              <p>click here to add new player.</p>
              <a href="./New_Player.html">new player</a>
            </div>
          
            <div class="grid-item">
              <img src="../Images/new-game.png" alt="start new game" class="icon">
              <p>click here to start new game.</p>
              <a href="./New_Game.html">new game</a>
            </div>
          
            <div class="grid-item">
              <img src="../Images/leaderboard.png" alt="players list" class="icon">
              <p>click here to watch all the players stats.</p>
              <a href="./Players.html">all players</a>
            </div>
          
            <div class="grid-item">
              <img src="../Images/table.png" alt="games history" class="icon">
              <p>click here to watch gmaes history.</p>
              <a href="./Games_History.html">all games</a>
            </div>
        </div>
    </body>
</html>
